<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/betterxml-expressiontree/src/main/java/org/betterxml/expressiontree/natural3/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.betterxml.expressiontree.natural3.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="betterxml-expressiontree"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:betterxml-expressiontree/src/main/java/org/betterxml/expressiontree}"/>
</launchConfiguration>
